
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
prompt_toolkit==3.0.47
Pygments==2.18.0
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyvim==3.0.3
requests==2.25.1
six==1.16.0
tomli==2.0.1
urllib3>=1.26.0,<2.0
selenium==4.12.0
boto3==1.28.0
prometheus_client==0.15.0
